.homeContainer{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.userContainer{
    display: flex;
    width: 90%;
    box-sizing: border-box;
    justify-content: left;
    border: 2px solid #000;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px;
    border-radius: 15px;
}
.userContainerLeft{
    margin-right: 25px;
}
.userContainerLeft img{
    border: 2px solid purple;
    border-radius: 50%;
    height: 120px;
    width: 120px;

}
.userContainer h2{
    color: #000;
}
.userContainer h3{
    color: green;
}
.userContainerRight input[type="number"]{
    width: 220px;
    height: 30px;
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;
}
.userContainerRight button{
    background-color: green;
    color: white;
    width: 150px;
    margin-left: 25px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
}